<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournaments</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}"/>
</head>
<body>
     <nav class="navbar navbar-inverse">
		<div class="container-fluid">

            <ul class="nav navbar-nav">

                <li class="active">
                    <a href="{% url 'home:add-tournament' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Tournament
                    </a>
                </li>

                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>

            </ul>

        </div>
     </nav>

    <ul>
        {% for tournament in all_tournaments %}
        <li><h2><a href="{% url 'home:detail' tournament.id %}">{{ tournament.tournament_name }}</a></h2></li>
        {% endfor %}
    </ul>
</body>
</html>